.heading {
    display: flex;
    font-weight: bold;
    justify-content: center;
}

.recipe-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: -35px;
}

.container {
    display: flex;
    flex-direction: column;
}
